{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
    

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Events</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
   
        <div class="container" style="margin-top: 50px;">
            <div class="row">

                <div class="col-lg-9">



                    <div class="job_lists m-0">
                        <div class="row">
                            {% for event in event_weekly %}
                      
                        

                                
                              <section id="gallery">
                                <div class="container">
                                  <div class="row">
                                  <div class="col-lg-4 mb-4">
                                  <div class="card">
                                    <img src="{{event.eve_image.url}}" alt="" class="card-img-top">
                                    <div class="card-body">
                                      <h5 class="card-title">Sunset</h5>
                                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                     <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                      <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                    </div>
                                   </div>
                                  </div>
                                <div class="col-lg-4 mb-4">
                                <div class="card">
                                    <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                    <div class="card-body">
                                      <h5 class="card-title">Sunset</h5>
                                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                     <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                      <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                    </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-4 mb-4">
                                  <div class="card">
                                    <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                    <div class="card-body">
                                      <h5 class="card-title">Sunset</h5>
                                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
                                     <a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                      <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                                    </div>
                                   </div>
                                  </div>
                                </div>
                        
                              </section>
                              
                            {% endfor %}

                        </div>
                        {% if event_weekly.has_other_pages %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        {% if event_weekly.has_previous  %}
                                            <li><a href="?page={{event_weekly.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                        {% endif %}

                                        {% for i in event_weekly.paginator.page_range  %}
                                            <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                        {% endfor %}

                                        {% if event_weekly.has_next  %}
                                        <li><a href="?page={{event_weekly.next_page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
 
    <!-- job_listing_area_end  -->

{% endblock body%}