{% extends 'base.html' %}
{% block body %}





    <div class="discount" >

      <div class="form">

 
          <form action="">
   
            <input class="input" type="text" placeholder="Your Name" name="name" />
            <input class="input" type="email" placeholder="Your Email" name="email" />
            <input class="input" type="text" placeholder="Your Phone" name="mobile" />
            <textarea class="input" placeholder="Tell Us About Your Needs" name="message"></textarea>
            <input type="submit" value="Send" />
          </form>
       
      </div>

    </div>
       
    


  {% endblock body %}